@import "tailwindcss";

:root {
  --black: #0a0a0a;
  --white: #ffffff;
  --ash: #c0c0c0;
  --dark: #111111;
  --card: #161616;
  --border: #222222;
  --muted: #555555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

::selection {
  background: var(--white);
  color: var(--black);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--muted);
}